.Layout {
  max-width: 789;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  background-color: white;
  
}

.Layout header {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 10px 15px;
  box-shadow: 0 0 10px rgb(20, 15, 15);
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 20px;
  padding: 0;
}


.Layout aside {
  flex: 20% 0 0;
  background-color: white;
  line-height: 50px;
  font-size: large;
}

.Layout main {
  flex: 80% 1 1;
  background-image: url(https://t3.ftcdn.net/jpg/01/88/22/56/360_F_188225626_jXYzh0CNZLiv1e8jOcTlmyI6bcVpLOtu.webp);
  background-color: rgb(92, 66, 66);
}
.Layout 


.Layout footer {
  flex: 100% 0 0;
  background-color: rgb(249, 177, 177);
}

@media (max-width: 650px) {
  .Layout header > .Nav {
    display: none;
  }
}
