.Layout {
  max-width: 1500px;  
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

header {
  display: flex;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;right: 0;
  z-index: 1000;    
  padding-right: 15px;
}

.Layout header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 20px;
  padding: 0;
}


.Layout aside {
 margin-top: 100px;
  background-color: white;
  line-height: 50px;
  font-size: large;
  Width: 240px;
}
.main{

  width: calc(100% - 240px);
  margin-top: 150px;
 
}
.Layout main {
  display: flex;
  align-items: center;
  flex: 100% 1 1;

  
}
.Layout 


.Layout footer {
  flex: 100% 0 0;
  background-color: rgb(249, 177, 177);
}

@media (max-width: 650px) {
  .Layout header > .Nav {
    display: none;
  }
}
