@import url('https://fonts.googleapis.com/css2?family=Reggae+One&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.section {
  width: 100%;
  min-height: 100vh;
  background-color: #ddd;


}

.container {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 100px;
}

.content-section {
  float: left;
  width: 55%;

}

.image-section {
  float: right;
  width: 40%;
}
.image-section img {
  width: 100%;

}
.image-section img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
}


.content-section .title {
  text-transform: uppercase;
  font-size: 28px;
}
.content-section .content h3 {
  margin-top: 20px;
  color: #5d5d5d;
  font-size: 21px;
}
.content-section .content p {
  margin-top: 10px;
  font-family: sans-serif;
  font-size: 17px;
  line-height: 1.5;
}
.content-section .content .button{
  margin-top: 30px;
}

.content-section .content .button a {
  background-color: #3d3d3d;
  padding: 12px 40px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  letter-spacing: 1.5px;
}

.content-section .content .button a:hover {
  background-color: #a5a5a5;
  color: #5d5d5d;

}
.content-section .social {
  margin-top: 40px 40px;

}

.content-section .social i {
  color: #a5a5a5;
  font-size: 30px;
  padding: 0px 10px;
}
.content-section .social i:hover {
  color: #3d3d3d;

}

@media screen and (max-width: 768px) {
  .conteiner {
    width: 80%;
  display: block;
  margin: auto;
  padding-top: 50px;
  }
  
  .content-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;
  }
  .image-section {
    float: none;
    width: 100%;
    display: block;
    margin: auto;

  }
  .content-section .title {
    text-align: center;
    font-size: 19px;
  }
  .content-section .content .button {
   text-align: center;
   padding: 9px 30px;
  }
  .content-section .content .button {
    padding: 9px 30px;
  }
  .content-section .social {
    text-align: center;

  }
}


































/* .simple-spinner {
  height: 50px;
width: 50px;
bottom: 5pxsolid rgba(150, 150, 150, 0.2);
background-repeat: 50px;
border-radius: 50%;
border-top-color: rgba(150, 150, 150);
animation: rotate 1s 0s infinite leaner;



}


@keyframes rotate {
  0%{
transform: rotate(0);
  }

100%{
transform: rotate(360deg);
}

} */