.HelpForum {
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  font-size: 15px;
  line-height: 1.6;
  color: #333;

}

*,
*::before
::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;

}

.intro {
  width: 100%;
  height: 100vh;

  background: url() center no-repeat;
  -webkit-background-size: cover ;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.header_logo {
  font-size: 30px;
  font-weight: 700;
  color: #fff;

}

.nav {
  font-size: 14px;
  text-transform: uppercase;

}
.NavLink {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  text-decoration: none;
transition: color .2s linear;
}

.NavLink::after {
  content: "";
  display: block;
  width: 100%; 
height: 3px;
background-color: #fff;
position: absolute;
top: 100%;
left: 0;
z-index: 1;
}
.NavLink:hover{
color: #fce;
}
.NavLink:hover::after {
  display: block;
}

