.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  
  /*
    position: fixed;
    top: 0;
    width: 100%;надо поработать над ним*/
}
  

 .Nav li {
  float: left;
}

.Nav li a {
  display: block;
  color: pink;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  border-radius: 40%;
  
}

.Nav li a:hover {
  background-color: palevioletred;
}

@media (max-width: 650px) {
  .Nav ul {
    flex-direction: column;
  }
} 