.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  
  /*
    position: fixed;
    top: 0;
    width: 100%;надо поработать над ним*/
}

.Nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}
.Nav li {
  float: left;
}

.Nav li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.Nav ul {
  position: fixed;
  bottom: 0;
  width: 100%;
}
/* Измените цвет ссылки на #111 (черный) при наведении курсора */
.Nav li a:hover {
  background-color: #111;
}


