.Nav a {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: o;
  color: rgb(43, 39, 39);
text-decoration: none;
}
.Nav   a {
  display: flex;
  justify-content: space-between;


}
